<div class="create-recipe">
    <div class="account-create-recipe">
        <h1>Create recipe</h1>
        <form [formGroup]="formRecipe" class="create-recipe-form">
            <div class="form-group">
                <input type="text" placeholder="Title" formControlName='title'
                    class="form-control create-recipe-form-input">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="form-group padding" >
                    <span> Upload an image with the recipe</span>
                    <input type="file" (change)="onFileChange($event,false)" required>
                </div>
                <div class="form-group padding">
                    <span> Upload an image with the steps</span>
                    <input type="file" (change)="onFileChange($event,true)" required>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="form-group form-middle">
                    <input type="number" placeholder="Servings" formControlName='servings'
                        class="form-control create-recipe-form-input">
                </div>
                <div class="form-group form-middle">
                    <input type="number" placeholder="ReadyInMinutes" formControlName='readyInMinutes'
                        class="form-control create-recipe-form-input">
                </div>
                <div class="form-group form-middle">
                    <input type="number" placeholder="HealtyScore" formControlName='healtyScore'
                        class="form-control create-recipe-form-input">
                </div>
            </div>
            <div class="form-group padding">
                <span>Tags selection</span>
            <br>
                <mat-form-field>
                    <mat-chip-list>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-chip style="background-color: lightgreen;" *ngFor="let tag of allTags"
                                (removed)="remove(tag)">
                                {{tag}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="form-group">
                <textarea row="18" placeholder="Summary" formControlName='summary'
                    class="form-control create-recipe-form-input"></textarea>
            </div>
            <div class="form-group">
                <textarea row="18" placeholder="Preparation description" formControlName='preparationDescription'
                    class="form-control create-recipe-form-input"></textarea>
            </div>
            <div class="form-group">
                <div fxLayout="column" fxLayoutAlign="space-between center">
                <span>Ingredients</span>
                <ul ><li *ngFor="let ing of ingredients">{{ing}}</li></ul>
            </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                <input type="text"  placeholder="Ex: 123ml water"
                    class="form-control create-recipe-form-input" #ingredient>
                <button mat-icon-button (click)="addIngredient(ingredient)" ><mat-icon>add</mat-icon></button>
                </div>
            </div>
            <button class="btn" (click)="onSubmit()">Create</button>
        </form>
    </div>
</div>