<div class="login">
    <div class="account-login">
        <h1>Login</h1>
        <form [formGroup]="formLogin"  class="login-form">
            <div class="form-group">
                <input type="text" placeholder="Email" formControlName='email' class="form-control">
                <mat-error
                    *ngIf="formLogin.controls['email'].hasError('pattern')">
                    Please enter a valid email address!
                </mat-error>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" formControlName='password'>
            </div>
            <button class="btn" (click)="onSubmit()" [disabled]="formLogin.controls['password'].hasError('required') || formLogin.controls['email'].hasError('required') || formLogin.controls['email'].hasError('pattern')">Login</button>
            <p>Are you new?<a routerLink="/register" routerLinkActive="active">Sign Up</a></p>
        </form>
    </div>
</div>