<div class="alert alert-success search-bar">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <p style="text-align: center;">
            <a routerLink="/profile" routerLinkActive="active" class="btn btn-success">My recipies</a>
          </p>
      <p style="text-align: center;"><a routerLink="/create" routerLinkActive="active" class="btn btn-success">Create Recipes</a></p>
      <p style="text-align: center;">
        <a routerLink="/favorite" routerLinkActive="active" class="btn btn-success">Favorites</a>
      </p>
    </div>
  </div>