a{
    color: green !important;
    font-weight: bold;
}

nav{
    border-color: green !important;
    border-width: 2px !important;
}

.link-button{
    color: green !important;
    font-weight: bold;
    margin-top: 9px;
}